<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>Document</title>
</head>
<body>
    <div class="primeiro">
        <img src="images/image-funcionario.png" >
        <h1>Cadastrar funcionario</h1>
        
    <form id="fromss">
        <label for="nome">Nome</label>
        <br>
        <input type="text" name="nome"id="nome" placeholder="Digite o nome">
        <br>

        <label for="email">E-mail</label>
        <br>
        <input type="email" name="email"id="email" placeholder="Digite o e-mail">
        <br>

        <label for="data">Data de admissao</label>
        <br>
        <input type="date" name="date"id="date" placeholder="">
        <br>

        <label for="salario">Salario</label>
        <br>
        <input type="text" name="salario"id="salario" placeholder="Digite o salario">
        <br>
      


        <button type="submit" id="submit" class="botao">Cadastrar</button>
    </form>
</div>
<script src="script.js"></script>
</body>
</html>